@import url('https://fonts.googleapis.com/css?family=Raleway:400,600|Roboto:400,500');

/* Elements override -------------------------------------------------------- */

h1 {
    font-size: 30px;
    font-weight: 300;
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}


/* Header + Banner -------------------------------------------------------- */

#skippy
{
	display: block;
	padding: 1em;
	color: #000;
	background-color: #94d8da;
	outline: 0;
}

#skippy .skiplink-text
{
	padding: .5em;
	outline: 1px dotted;
	background-color: #fff;
	font-weight: bold;
}

header {
    position: relative;
    background-color: transparent;
    margin-bottom: 0;
}

#project-logo-header {
    padding-top: 10px;
    padding-bottom: 15px;
    float: none;
    height: 45px;
    background-color: transparent;
}

#primary-logo {
    padding: 0;
    margin: 0;
    height: 20px;
    float: left;
    display: inline-block;
    background-color: #fff;
}

#primary-logo img {
    height: 100%;
}

h1#page-banner {
    margin: 0 0 0 120px;
    padding: 0;
    font-size: 20px;
    font-weight: 300;
    line-height: 35px;
    color: #3977A7;
}

.navbar-banner-ssnm {
    background-color: #3e7794;
}

.navbar-banner-ssnm .navbar {
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-banner-ssnm .btn-outline-warning:not([disabled]):not(.disabled).active {
    box-shadow: none;
}

.btn-bd-yellow {
    font-weight: 500;
    color: #ffe484;
    border-color: #ffe484;
    margin-left: 20px;
    margin-right: 20px;
}

.create-map-prompt {
    font-size: 40px;
    font-weight: 200;
    padding-left: 1em;
    padding-right: 1em;
}

#maincontent {
    padding-top: 20px;
}

.video-player iframe {
    width: 330px;
    height: 186px;
}



/* Footer------------------------------------------------------------------ */

footer {
    border-top: 1px solid #ccc;
    margin-top: 100px;
}

.footer-moreinfo,
.footer-logos {
    list-style: none;
    margin: 0 -15px 20px -15px;
    padding: 0;
    text-align: center;
}

.footer-moreinfo li,
.footer-logos li {
    display: inline-block;
    padding: 10px;
}

.footer-moreinfo {
    background-color: transparent;
}

.footer-logos {
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer-logos li {
    padding: 10px;
}

.footer-logos img {
    height: 25px;
}


.ssnm-map-embed {
    width: 100%;
    height: 650px;
}

@media (min-width: 576px) {
    h1 {
        font-size: 40px;
        font-weight: 300;
        margin-top: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #project-logo-header {
        padding-top: 10px;
        padding-bottom: 15px;
        height: 50px;
    }
    #primary-logo {
        height: 25px;
    }
    h1#page-banner {
        margin: 0 0 0 150px;
        font-size: 28px;
        line-height: 35px;
        font-weight: 300;
    }
    .video-player iframe {
        width: 510px;
        height: 287px;
    }
    .ssnm-map-embed {
        height: 650px;
    }
}

@media (min-width: 768px) {
    #project-logo-header {
        padding-top: 20px;
        padding-bottom: 20px;
        height: 75px;
    }
    #primary-logo {
        height: 35px;
    }
    h1#page-banner {
        margin: 0 0 0 205px;
        font-size: 39px;
        line-height: 35px;
        font-weight: 200;
    }
    .footer-logos li {
        padding: 10px 30px;
    }
    .footer-logos img {
        height: 50px;
    }
    .video-player iframe {
        width: 690px;
        height: 388px;
    }
    .ssnm-map-embed {
        height: 860px;
    }
}

@media (min-width: 992px) {
    #project-logo-header {
        padding-top: 20px;
        padding-bottom: 20px;
        height: 85px;
    }
    #primary-logo {
        height: 45px;
    }
    h1#page-banner {
        margin: 0 0 0 265px;
        font-size: 55px;
        line-height: 45px;
    }
    .video-player iframe {
        width: 930px;
        height: 523px;
    }
}

@media (min-width: 1200px) {
    #project-logo-header {
        padding-top: 20px;
        padding-bottom: 20px;
        height: 90px;
    }
    #primary-logo {
        height: 50px;
    }
    h1#page-banner {
        margin: 0 0 0 290px;
        font-size: 60px;
        line-height: 50px;
    }
}

@media print {
    .print-alert {
        font-weight: bold;
        color: #999 !important;
    }
}
