<header role="banner" id="headcontainer">
    <a id="skippy" class="sr-only sr-only-focusable" href="#maincontent"><div class="container"><span class="skiplink-text">Skip to main content</span></div></a>
    <div class="container clearfix" id="project-logo-header">
    <a href="{{ .Site.BaseURL }}" class="navbar-brand" id="primary-logo"><img src="{{ .Site.BaseURL }}img/logo-primary.png" alt="Go to {{ .Site.Params.shortTitle }} home page" itemprop="primaryImageOfPage" /></a>
    <h1 id="page-banner" class="hidden-print">{{ .Site.Title }}</h1>
    </div>
    <meta itemprop="url" content="{{ .Permalink }}" />
    <meta itemprop="name" content="{{ .Site.Params.shortTitle }}: {{ .Title }}" />
</header>
