<p>
The SSNM is a simple web-based tool intended for use by social workers and other human service, health or mental health workers in support of clients or community members. The tool was evolved from early versions of paper-based social network and ecomapping tools. The purpose of the tool is to identify and graphically illustrate the informal social supports in a person’s network either in general, or specifically related to an issue for work, like gaining employment, or housing, or getting into recovery, for example.
</p>

<p>
The tool was initially developed by Dr. Susan Witte and members of the investigative team at the Social Intervention Group to test the implementation of a web-based HIV prevention intervention for couples called Connect (NIMH R01 MH080659). During this time it was also repurposed for teaching to advanced practice students in social work classrooms at the MSW program at the <a href="https://socialwork.columbia.edu" target="_blank">Columbia University School of Social Work</a>. Through a Provost’s grant at Columbia University, in collaboration for the <a href="https://ctl.columbia.edu" target="_blank">Center for Teaching and Learning</a>, the tool is being updated for use in social work classrooms, social work fieldwork sites and in the community at large.
</p>

<p class="text-center d-print-none">
<a href="/map/interactive/" class="btn btn-info btn-lg create-map-prompt">Create Map</a>
</p>