<div class="navbar-banner-ssnm d-print-none">
    <nav class="container navbar navbar-expand-md navbar-dark bg-default" itemscope itemtype="http://schema.org/SiteNavigationElement">
        <a class="navbar-brand" href="{{ .Site.BaseURL }}" itemprop="url"><i class="fa fa-home" aria-hidden="true"></i> <span itemprop="name">Home</span> {{ if .IsHome }}<span class="sr-only">(current)</span>{{ end }}</a>
        <a href="/map/interactive/" class='btn btn-outline-warning btn-bd-yellow{{ if .IsPage }}{{ if eq .File.BaseFileName "interactive" }} active{{ end }}{{ end }}' itemprop="url"><span itemprop="name">Map Tool</span>{{ if .IsPage }}{{ if eq .File.BaseFileName "interactive" }} <span class="sr-only">(current)</span>{{ end }}{{ end }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class='nav-item{{ if .IsPage }}{{ if eq .File.BaseFileName "tutorial" }} active{{ end }}{{ end }}'>
                    <a class="nav-link" itemprop="url" href="/map/tutorial/"><span itemprop="name">Tutorial</span>{{ if .IsPage }}{{ if eq .File.BaseFileName "tutorial" }} <span class="sr-only">(current)</span>{{ end }}{{ end }}</a>
                </li>
                <li class='nav-item{{ if .IsPage }}{{ if eq .File.BaseFileName "about" }} active{{ end }}{{ end }}'>
                    <a class="nav-link" itemprop="url" href="/map/about/"><span itemprop="name">About SSNM</span>{{ if .IsPage }}{{ if eq .File.BaseFileName "about" }} <span class="sr-only">(current)</span>{{ end }}{{ end }}</a>
                </li>
            </ul>
        </div>
    </nav>
</div><!-- / .navbar container -->